body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  box-sizing: border-box;
  width: 400px;
  background-color: white;
  margin: 8px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  padding: 8px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 8px 24px;
}